<ng-container *ngIf="showLogin">
<section id="login" class="row valign-wrapper">
  <div class="col s6">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="col s3"></div>
          <div class="col s6 center-align">
            <h1 style="font-size: 3rem; color: #333333;">Baaxal</h1>
            <h3 class="color1">Iniciar Sesion</h3>
          </div>
          <div class="col s3"></div>
        </div>
        <div class="row" style="margin-top: 3% !important;">
          <div class="col s3"></div>
          <div class="input-field col s6">
            <input id="last_name" type="email" class="validate">
            <label for="last_name">Correo Electronico</label>
          </div>
          <div class="col s3"></div>
        </div>
        <div class="row marginTop">
          <div class="col s3"></div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Contraseña</label>
          </div>
          <div class="col s3"></div>
        </div>
        <div class="row marginTop">
          <div class="col s3"></div>
          <div class="col s6 center-align">
            <button class="button back1 ">Iniciar Sesion</button>
          </div>
          <div class="col s3"></div>
        </div>
      </form>
    </div>
  </div>
  <div class="col s6 back1 flex" style="height: 88.5vh;">
    <h1 style="font-size: 3.5rem;" class="color2">¡Hola!</h1>
    <h3 style="color: white;">Ingresa tus datos y comienza en Baaxal</h3>
    <h5 style="color: white;">Si no tienes Cuenta</h5>
    <button (click)="toggleRegister()" class="buttonBorder">Registrate</button>
  </div>
</section>
</ng-container>


<ng-container *ngIf="showRegister">
<section id="register" class="row valign-wrapper">
  <div class="col s6 back1 flex" style="height: 88.5vh;">
    <h1 style="font-size: 3.5rem;" class="color2">¡Bienvenido!</h1>
    <h3 style="color: white;">Para permanecer en Baxaal porfavor ingresa tu informacion personal</h3>
    <h5 style="color: white;">Si ya tienes Cuenta</h5>
    <button (click)="toggleLogin()" class="buttonBorder">Ingresa</button>
  </div>
  <div class="col s6">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="col s3"></div>
          <div class="col s6 center-align">
            <h1 style="font-size: 3rem; color: #333333;">Baaxal</h1>
            <h3 class="color1">Registrate</h3>
          </div>
          <div class="col s3"></div>
        </div>
        <div class="row" style="margin-top: 3% !important;">
          <div class="col s3"></div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Nombre completo</label>
          </div>
          <div class="col s3"></div>
        </div>
        <div class="row" style="margin-top: 3% !important;">
          <div class="col s3"></div>
          <div class="input-field col s6">
            <input id="last_name" type="email" class="validate">
            <label for="last_name">Correo Electronico</label>
          </div>
          <div class="col s3"></div>
        </div>
        <div class="row marginTop">
          <div class="col s3"></div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Contraseña</label>
          </div>
          <div class="col s3"></div>
        </div>
        <div class="row marginTop">
          <div class="col s3"></div>
          <div class="col s6 center-align">
            <button class="button back1 ">Iniciar Sesion</button>
          </div>
          <div class="col s3"></div>
        </div>
      </form>
    </div>
  </div>
  
</section>
</ng-container>