<section class="row back1">
  <div class="col s12 center-align">
    <div class="col s4 ">
      <div class="img">
        <img src="../../../assets/B.png" alt="">
      </div>
    </div>
    <div class="col s4 input_field">
      <input type="search" placeholder="Buscar en Baaxal">
    </div>
    <div class="col s4 right-align">
      <a href=""><i class="fas fa-running "></i></a>
      <a href=""><i class="fas fa-trophy"></i></a>
      <a routerLink="/auth"><i class="fas fa-user"></i></a>
    </div>
  </div>
</section>

